language: python

# Environment changes have to be manually synced with 'tox.ini'.
# See: https://github.com/travis-ci/travis-ci/issues/3024
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - "pypy"

install:
  - pip install tox-travis
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - tox

after_success:
  - coveralls
